body{
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.marco{
	border: solid 0.3rem red;
	color:black;
	background-color: orange;
	height: 70px;
	width: 70px;
}

.marco2{

	border: solid 0.3rem red;
	background-color: orange;
	margin-top: auto;
}

.moveRight{
	
	padding-left: 3px;
}

.moveLeft{
	
	padding-right: 10px;
}

.color1{
	background-color: yellow;
}

.color2{
	background-image: url("images/fondo.jpg");
	border: solid 0.1rem black;
	background-repeat: no-repeat;
}

.titleColor{
	color: purple;
}