body{
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #3BFFFE;
}

.puntero:hover{
	cursor: pointer;
}

.marco{
	border: solid 0.3rem #1E17E8;
	color:black;
	background-color: #C8A4FF;
	height: 70px;
	width: 70px;
}

.marco2{

	border: solid 0.3rem #1E17E8;
	background-color: #C8A4FF;
	margin-top: auto;
}

.moveRight{
	padding-left: 3px;
}

.moveDown{
	margin: auto;
}

.moveLeft{
	
	padding-right: 10px;
}

.color1{
	background-color: #17A1E8;
}

.color2{
	background-image: url("images/fondo.jpg");
	border: solid 0.1rem black;
	background-repeat: no-repeat;
}

.titleColor{
	color: white;
}


